
<div class="box-1">
  <p>cart works!</p>
  <p class="d-flex col float-end total">Total: {{total}}</p>
</div>

<div  *ngFor="let item of cart.products ;let index= index"  [attr.data-index]="index" class=box-2>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img  src="{{item.productImage}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.productName}}</h5>
            <p class="card-text">{{item.productDescription}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{item.product}}</li>
              <li class="list-group-item" style="font-size: xx-large;">${{item.price}}</li> 
              <!-- <li class="list-group-item">{{item.id}}</li> -->
              <!-- <li class="list-group-item">{{index}}</li> -->
            </ul>
            <a (click)="buy()" class="card-link">Buy</a>
            <a (click)="delete(item.id)" class="card-link">Delete</a>&nbsp;&nbsp;
            <div style="display: inline;">
             <button style="width: 10;"(click)="decrementQty(item.id)">-</button> 
             <a class="card-link"><button>Qty {{item.count}} </button></a>
             <button style="width: 10;" (click)="incrementQty(item.id)">+</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
